//definizione delle variabili del probetto

//BACKGROUND

$background_primary: #ffffff;
$p_color: #a6a6a6;
$border_btn_readmore: #e1c0b0;
$background_rond:#faf7f1;
$round_bulb:#badac9;
$round_commment: #f7de75;
$round_cloud:#80465f;
$round_pencil:#eb6950;
$btn_contact:#d6eee1;
$calendar_number: #c0e1cf;
$calendar_month:#f3d0c7;
$footer:#c0e1cf;
$btn_readmore_hover:#e1c0b0;